
.navbar {
  width: 100%;
  background-color: rgb(221, 221, 228) !important;
  color: #000000;
}

.container{
    padding-left: 0;
    padding-right: 0;
    
}
#logo{
    width: 40%;
}
#navbarNavDropdown{
  position: relative;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: large;
}